@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}


html, body {
    font-family: Inter;
}

.map {
    height: 400px;
    width: 100%;
}

.desac-lien {
    color:inherit !important;
    text-decoration: none !important;
}

.fond-element {
    background: rgba(255, 255, 255, 0.6) !important;
}

.fond {
    background-image: url("../img/background.png");+
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}